.sidebar,
.sidebar a {
  color: $color-side-txt;
}

.sidebar {
  height: 100%;
  padding: 1.5rem;
}

@media (min-width: $bp-medium) {
  .sidebar {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}