$color-black:   hsl(0, 0%, 0%);
$color-gray-5:  hsl(0, 0%, 5%);
$color-gray-10: hsl(0, 0%, 10%);
$color-gray-15: hsl(0, 0%, 15%);
$color-gray-20: hsl(0, 0%, 20%);
$color-gray-25: hsl(0, 0%, 25%);
$color-gray-30: hsl(0, 0%, 30%);
$color-gray-35: hsl(0, 0%, 35%);
$color-gray-40: hsl(0, 0%, 40%);
$color-gray-45: hsl(0, 0%, 45%);
$color-gray:    hsl(0, 0%, 50%);
$color-gray-55: hsl(0, 0%, 55%);
$color-gray-60: hsl(0, 0%, 60%);
$color-gray-65: hsl(0, 0%, 65%);
$color-gray-70: hsl(0, 0%, 70%);
$color-gray-75: hsl(0, 0%, 75%);
$color-gray-80: hsl(0, 0%, 80%);
$color-gray-85: hsl(0, 0%, 85%);
$color-gray-90: hsl(0, 0%, 90%);
$color-gray-95: hsl(0, 0%, 95%);
$color-gray-96: hsl(0, 0%, 96%);
$color-gray-97: hsl(0, 0%, 97%);
$color-gray-98: hsl(0, 0%, 98%);
$color-gray-99: hsl(0, 0%, 99%);
$color-white:   hsl(0, 0%, 100%);

$color-side-bg:    hsl(0, 0%, 10%);
$color-side-txt:   hsl(56, 7%, 57%);
$color-side-hover: hsl(55, 32%, 78%);
$color-side-acc:   hsl(55, 32%, 78%);
$color-side-name:  hsl(55, 32%, 78%);
$color-side-job:   hsl(28, 47%, 59%);

$color-content-intro-bg: hsl(0, 0%, 97%);
$color-content-intro-border: hsl(0, 0%, 90%);
$color-content-link: hsl(15, 80%, 60%);
$color-content-icon: hsl(15, 80%, 60%);
$color-content-icon: hsl(15, 70%, 65%);
$color-content-about-bg: hsl(45, 50%, 97%);
$color-content-strong: hsl(0, 0%, 35%);
