.content-header {
  font-size: 1rem;
  line-height: 1.3;
  padding: 1.5em 2em;
  margin-bottom: 1.5rem;
  background: $color-gray-95;
  border-left: 5px solid $color-gray-80;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.content-header-p {
  margin: 0;
}

.content-header-p + .content-header-p {
  margin-top: 1rem;
}

.content-header-p strong {
  font-weight: initial;
}

@media (min-width: $bp-large) {
  .content-header {
    font-size: 1.1rem;
    padding: 1.75em 2.25em;
    margin-bottom: 2em;
  }
}