.header {
  font-size: 1.5rem;
}

.header-avatar-img {
  width: 100px;  
  border-radius: 2px;
  opacity: 0.75;
  filter: sepia(50%);
}

.header-fullname {
  font-size: 1em;
  margin: 0.25em 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-fullname a {
  color: $color-side-name;
}

.header-fullname a {
  text-decoration: none;
}

.header-job {
  font-size: 0.7em;
  font-size: 0.8em;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0.25rem 0 0;
  color: $color-side-job;
}

.header-job-1 {
  // color: $color-side-job-1;
}

.header-job-2 {
  // color: $color-side-job-2;  
}

.header-links {
  display: flex;
  font-size: 0.7em;
  margin-top: 0.75rem;
}

.header-link + .header-link {
  margin-left: 0.4em;
}

@media (min-width: $bp-medium) {
  .header-avatar-img {
    width: 125px;  
  }

  .header-links {
    justify-content: flex-end;
  }
}
