$font-stack: ('Quicksand', sans-serif); // 300, 400, 500, 700

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  // font-size: 1em;
}

body {
  margin: 0;
  font-family: $font-stack;
  // font-family: 'Lato', sans-serif;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin-top: 0; */
}

p {
  /* font-size: 1.1rem; */
  /* line-height: 1.4; */
}

a {
  text-decoration: none;
}

@media (min-width: $bp-large) {
  html {
    font-size: 1.1em;
  }
}