.placeholder {
  background: $color-gray-85;
  border-radius: 2px;
}

.placeholder-avatar {
  width: 150px;
  height: 150px;
  margin: 0 0 0 auto;
}

.placeholder-link {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}