.about {
  font-size: 1rem;
  max-width: 54rem;  

  p + p {
    margin-top: 1em;
  }
}

.about-title {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: hsl(0, 0%, 40%);
  margin-top: 0;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 40%);
}

.about-title-alt {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: hsl(43, 90%, 94%);
  background: hsl(20, 80%, 78%);
  margin-top: 0;
  padding: 10px;
}

@media (min-width: 75em) {
  .about {
    max-width: 54rem;  
  }
}