.menu {
  display: none;
}

@media (min-width: $bp-medium) {
  .menu {
    display: block;
    font-size: 1.05rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: -0.75rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: right;

    ul {
      list-style: none;
    }

    a {
      display: inline-block;
      padding: 0.2em calc(0.75rem - 3px);
      padding-left: 0;
      border-right: 3px solid transparent;
      text-decoration: none;

      &:hover {
        color: $color-side-hover;
      }
    }

    .active a {
      border-right: 3px solid $color-side-acc;
      color: $color-side-acc;
    }
  }
}