.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
}

.header-avatar-img {
  width: 100px;  
  vertical-align: middle; // fix extra bottom space
  border-radius: 2px;
  opacity: 0.75;
}

.header-fullname,
.header-job,
.header-links {
  background: hsla(0, 0%, 0%, 0.5);
  padding: 0.1rem 0.3rem;
  border-radius: 2px;
}

.header-fullname {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  margin: 0.75rem 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-fullname a {
  color: $color-side-name;
}

.header-fullname a {
  text-decoration: none;
}

.header-job {
  font-size: 0.8em;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 0.2em;
  color: $color-side-job;
  font-weight: 500;
}

.header-links {
  position: absolute;
  right: 1.5rem;
  font-size: 0.8em;
}

.header-link + .header-link {
  margin-left: 0.25em;
}

@media (min-width: $bp-medium) {
  .header {
    align-items: flex-end;
  }

  .header-avatar-img {
    width: 125px;  
  }

  .header-links {
    position: static;
    justify-content: flex-end;
    font-size: 0.75em;
    margin-top: 0.2em;
  }
}
