.sidebar-container {
  position: relative;
  width: 100%;
  background: $color-side-bg;
  z-index: 1;
}

.sidebar-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("img/wong-blur.jpg"); 
  background-size: cover;
  z-index: -1;
}


.content-container {
  color: $color-gray-20;

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: $bp-medium) {
  .container {
    display: flex;
    height: 100vh;
  }

  .sidebar-container {
    white-space: nowrap; // TODO: move down ?
    flex: 0;
    flex-basis: 16.7rem; // ie fix
  }

  .content-container {
    flex: 1;
    overflow: auto;
  }
}

@media (min-width: $bp-large) {
  .sidebar-container {
    flex: 1;
    background: $color-side-bg;
    z-index: 1;
  }

  .content-container {
    flex: 3;
  }
}
